header .container-4 {
    vertical-align: middle;
    white-space: nowrap;
    position:relative;
}

header .container-4 input#search {
    height: 32px;
    color:#fff;
    background: #000;
    border: none;
    font-size: 1rem;
    padding-left: 15px;
    box-sizing: border-box;
    font-family: 'Open Sans';
    font-weight: 300;
    font-style: italic;
    position:absolute;
bottom:-100%;
right:0;
opacity:0;
display:none;
transition: all 0.3s ease-in-out;
}

header .container-4 input#search::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
}

header .container-4 input#search:-moz-placeholder {
    /* Firefox 18- */
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
}

header .container-4 input#search::-moz-placeholder {
    /* Firefox 19+ */
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
}

header .container-4 input#search:-ms-input-placeholder {
    color: #fff;
    font-family: 'Open Sans';
    font-weight: 300;
}

header .container-4 button.icon {
    border: none;
    background: #000;
    height: 32px;
    width: 32px;
    color: #fff;
    font-size: 1rem;
    transition: all .55s ease;
    line-height: 1.9;
}

header .container-4 .icon .fa {
    font-size: 1rem;
}

header .container-4:hover button.icon,
header .container-4:active button.icon,
header .container-4:focus button.icon {}

header .container-4:hover button.icon:hover {}

header #searchform {
    display: inline-block;
}

header .container-4:hover input#search{
opacity:1;
display:block;
}
