/*!
Theme Name: SitConf
Theme URI: http://underscores.me/
Author: alex coleman
Author URI: http://leftsidedesign.ca
Description: Description
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: awc-theme
Tags:

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

AWC Starter is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
*/legend,td,th{padding:0}hr,p{margin-bottom:1.5em}.utility-footer .fa:after,blockquote:after,blockquote:before,q:after,q:before{content:""}hr,img,legend{border:0}pre,textarea{overflow:auto}a,ins,mark{text-decoration:none}#content[tabindex="-1"]:focus,a:active,a:hover{outline:0}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;box-sizing:border-box}body{margin:0;background:#fff}article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}b,optgroup,strong{font-weight:700}dfn{font-style:italic}h1{margin:.67em 0}mark{color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-.5em}sub{bottom:-.25em}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;background-color:#ccc;height:1px}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type=button],input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0}input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button{height:auto}input[type=search]{-webkit-appearance:textfield;box-sizing:content-box}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}.is-visible{display:block!important}.is-hidden{display:none!important}.float-left{float:left!important}.float-right{float:right!important}.row{max-width:75rem;margin-left:auto;margin-right:auto;display:-webkit-flex;display:-ms-flexbox;display:-webkit-box;display:flex;-webkit-flex-flow:row wrap;-ms-flex-flow:row wrap;flex-flow:row wrap}.row .row{margin-left:-.625rem;margin-right:-.625rem}.row.expanded{max-width:none}.row.collapse>.column,.row.collapse>.columns{padding-left:0;padding-right:0}.column,.columns{-webkit-flex:1 1 0px;-ms-flex:1 1 0px;-webkit-box-flex:1;flex:1 1 0px;padding-left:.625rem;padding-right:.625rem}@media screen and (min-width:40em){.row .row{margin-left:-.9375rem;margin-right:-.9375rem}.column,.columns{padding-left:.9375rem;padding-right:.9375rem}}.column.row.row,.row.row.columns{float:none}.row .column.row.row,.row .row.row.columns{padding-left:0;padding-right:0;margin-left:0;margin-right:0}.small-1{-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;-webkit-box-flex:0;flex:0 0 8.33333%;max-width:8.33333%}.small-offset-0{margin-left:0}.small-2{-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;-webkit-box-flex:0;flex:0 0 16.66667%;max-width:16.66667%}.small-offset-1{margin-left:8.33333%}.small-3{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;-webkit-box-flex:0;flex:0 0 25%;max-width:25%}.small-offset-2{margin-left:16.66667%}.small-4{-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;-webkit-box-flex:0;flex:0 0 33.33333%;max-width:33.33333%}.small-offset-3{margin-left:25%}.small-5{-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;-webkit-box-flex:0;flex:0 0 41.66667%;max-width:41.66667%}.small-offset-4{margin-left:33.33333%}.small-6{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;-webkit-box-flex:0;flex:0 0 50%;max-width:50%}.small-offset-5{margin-left:41.66667%}.small-7{-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;-webkit-box-flex:0;flex:0 0 58.33333%;max-width:58.33333%}.small-offset-6{margin-left:50%}.small-8{-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;-webkit-box-flex:0;flex:0 0 66.66667%;max-width:66.66667%}.small-offset-7{margin-left:58.33333%}.small-9{-webkit-flex:0 0 75%;-ms-flex:0 0 75%;-webkit-box-flex:0;flex:0 0 75%;max-width:75%}.small-offset-8{margin-left:66.66667%}.small-10{-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;-webkit-box-flex:0;flex:0 0 83.33333%;max-width:83.33333%}.small-offset-9{margin-left:75%}.small-11{-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;-webkit-box-flex:0;flex:0 0 91.66667%;max-width:91.66667%}.small-offset-10{margin-left:83.33333%}.small-12{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%;max-width:100%}.small-offset-11{margin-left:91.66667%}.small-up-1{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.small-up-1>.column,.small-up-1>.columns{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%;max-width:100%;width:100%;float:left}.small-up-2{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.small-up-2>.column,.small-up-2>.columns{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;-webkit-box-flex:0;flex:0 0 50%;max-width:50%;width:50%;float:left}.small-up-3{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.small-up-3>.column,.small-up-3>.columns{-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;-webkit-box-flex:0;flex:0 0 33.33333%;max-width:33.33333%;width:33.33333%;float:left}.small-up-4{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.small-up-4>.column,.small-up-4>.columns{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;-webkit-box-flex:0;flex:0 0 25%;max-width:25%;width:25%;float:left}.small-up-5{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.small-up-5>.column,.small-up-5>.columns{-webkit-flex:0 0 20%;-ms-flex:0 0 20%;-webkit-box-flex:0;flex:0 0 20%;max-width:20%;width:20%;float:left}.small-up-6{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.small-up-6>.column,.small-up-6>.columns{-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;-webkit-box-flex:0;flex:0 0 16.66667%;max-width:16.66667%;width:16.66667%;float:left}.small-up-1>.column:nth-of-type(1n),.small-up-1>.columns:nth-of-type(1n){clear:none}.small-up-1>.column:nth-of-type(1n+1),.small-up-1>.columns:nth-of-type(1n+1){clear:both}.small-up-1>.column:last-child,.small-up-1>.columns:last-child{float:left}.small-up-2>.column:nth-of-type(1n),.small-up-2>.columns:nth-of-type(1n){clear:none}.small-up-2>.column:nth-of-type(2n+1),.small-up-2>.columns:nth-of-type(2n+1){clear:both}.small-up-2>.column:last-child,.small-up-2>.columns:last-child{float:left}.small-up-3>.column:nth-of-type(1n),.small-up-3>.columns:nth-of-type(1n){clear:none}.small-up-3>.column:nth-of-type(3n+1),.small-up-3>.columns:nth-of-type(3n+1){clear:both}.small-up-3>.column:last-child,.small-up-3>.columns:last-child{float:left}.small-up-4>.column:nth-of-type(1n),.small-up-4>.columns:nth-of-type(1n){clear:none}.small-up-4>.column:nth-of-type(4n+1),.small-up-4>.columns:nth-of-type(4n+1){clear:both}.small-up-4>.column:last-child,.small-up-4>.columns:last-child{float:left}.small-up-5>.column:nth-of-type(1n),.small-up-5>.columns:nth-of-type(1n){clear:none}.small-up-5>.column:nth-of-type(5n+1),.small-up-5>.columns:nth-of-type(5n+1){clear:both}.small-up-5>.column:last-child,.small-up-5>.columns:last-child{float:left}.small-up-6>.column:nth-of-type(1n),.small-up-6>.columns:nth-of-type(1n){clear:none}.small-up-6>.column:nth-of-type(6n+1),.small-up-6>.columns:nth-of-type(6n+1){clear:both}.small-up-6>.column:last-child,.small-up-6>.columns:last-child{float:left}.small-up-7>.column,.small-up-7>.columns{width:14.28571%;float:left}.small-up-7>.column:nth-of-type(1n),.small-up-7>.columns:nth-of-type(1n){clear:none}.small-up-7>.column:nth-of-type(7n+1),.small-up-7>.columns:nth-of-type(7n+1){clear:both}.small-up-7>.column:last-child,.small-up-7>.columns:last-child{float:left}.small-up-8>.column,.small-up-8>.columns{width:12.5%;float:left}.small-up-8>.column:nth-of-type(1n),.small-up-8>.columns:nth-of-type(1n){clear:none}.small-up-8>.column:nth-of-type(8n+1),.small-up-8>.columns:nth-of-type(8n+1){clear:both}.small-up-8>.column:last-child,.small-up-8>.columns:last-child{float:left}.small-collapse>.column,.small-collapse>.columns{padding-left:0;padding-right:0}.small-uncollapse>.column,.small-uncollapse>.columns{padding-left:.625rem;padding-right:.625rem}@media screen and (min-width:40em){.medium-1{-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;-webkit-box-flex:0;flex:0 0 8.33333%;max-width:8.33333%}.medium-offset-0{margin-left:0}.medium-2{-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;-webkit-box-flex:0;flex:0 0 16.66667%;max-width:16.66667%}.medium-offset-1{margin-left:8.33333%}.medium-3{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;-webkit-box-flex:0;flex:0 0 25%;max-width:25%}.medium-offset-2{margin-left:16.66667%}.medium-4{-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;-webkit-box-flex:0;flex:0 0 33.33333%;max-width:33.33333%}.medium-offset-3{margin-left:25%}.medium-5{-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;-webkit-box-flex:0;flex:0 0 41.66667%;max-width:41.66667%}.medium-offset-4{margin-left:33.33333%}.medium-6{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;-webkit-box-flex:0;flex:0 0 50%;max-width:50%}.medium-offset-5{margin-left:41.66667%}.medium-7{-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;-webkit-box-flex:0;flex:0 0 58.33333%;max-width:58.33333%}.medium-offset-6{margin-left:50%}.medium-8{-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;-webkit-box-flex:0;flex:0 0 66.66667%;max-width:66.66667%}.medium-offset-7{margin-left:58.33333%}.medium-9{-webkit-flex:0 0 75%;-ms-flex:0 0 75%;-webkit-box-flex:0;flex:0 0 75%;max-width:75%}.medium-offset-8{margin-left:66.66667%}.medium-10{-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;-webkit-box-flex:0;flex:0 0 83.33333%;max-width:83.33333%}.medium-offset-9{margin-left:75%}.medium-11{-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;-webkit-box-flex:0;flex:0 0 91.66667%;max-width:91.66667%}.medium-offset-10{margin-left:83.33333%}.medium-12{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%;max-width:100%}.medium-offset-11{margin-left:91.66667%}.medium-up-1{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.medium-up-1>.column,.medium-up-1>.columns{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%;max-width:100%;width:100%;float:left}.medium-up-2{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.medium-up-2>.column,.medium-up-2>.columns{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;-webkit-box-flex:0;flex:0 0 50%;max-width:50%;width:50%;float:left}.medium-up-3{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.medium-up-3>.column,.medium-up-3>.columns{-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;-webkit-box-flex:0;flex:0 0 33.33333%;max-width:33.33333%;width:33.33333%;float:left}.medium-up-4{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.medium-up-4>.column,.medium-up-4>.columns{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;-webkit-box-flex:0;flex:0 0 25%;max-width:25%;width:25%;float:left}.medium-up-5{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.medium-up-5>.column,.medium-up-5>.columns{-webkit-flex:0 0 20%;-ms-flex:0 0 20%;-webkit-box-flex:0;flex:0 0 20%;max-width:20%;width:20%;float:left}.medium-up-6{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.medium-up-6>.column,.medium-up-6>.columns{-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;-webkit-box-flex:0;flex:0 0 16.66667%;max-width:16.66667%;width:16.66667%;float:left}.medium-up-1>.column:nth-of-type(1n),.medium-up-1>.columns:nth-of-type(1n){clear:none}.medium-up-1>.column:nth-of-type(1n+1),.medium-up-1>.columns:nth-of-type(1n+1){clear:both}.medium-up-1>.column:last-child,.medium-up-1>.columns:last-child{float:left}.medium-up-2>.column:nth-of-type(1n),.medium-up-2>.columns:nth-of-type(1n){clear:none}.medium-up-2>.column:nth-of-type(2n+1),.medium-up-2>.columns:nth-of-type(2n+1){clear:both}.medium-up-2>.column:last-child,.medium-up-2>.columns:last-child{float:left}.medium-up-3>.column:nth-of-type(1n),.medium-up-3>.columns:nth-of-type(1n){clear:none}.medium-up-3>.column:nth-of-type(3n+1),.medium-up-3>.columns:nth-of-type(3n+1){clear:both}.medium-up-3>.column:last-child,.medium-up-3>.columns:last-child{float:left}.medium-up-4>.column:nth-of-type(1n),.medium-up-4>.columns:nth-of-type(1n){clear:none}.medium-up-4>.column:nth-of-type(4n+1),.medium-up-4>.columns:nth-of-type(4n+1){clear:both}.medium-up-4>.column:last-child,.medium-up-4>.columns:last-child{float:left}.medium-up-5>.column:nth-of-type(1n),.medium-up-5>.columns:nth-of-type(1n){clear:none}.medium-up-5>.column:nth-of-type(5n+1),.medium-up-5>.columns:nth-of-type(5n+1){clear:both}.medium-up-5>.column:last-child,.medium-up-5>.columns:last-child{float:left}.medium-up-6>.column:nth-of-type(1n),.medium-up-6>.columns:nth-of-type(1n){clear:none}.medium-up-6>.column:nth-of-type(6n+1),.medium-up-6>.columns:nth-of-type(6n+1){clear:both}.medium-up-6>.column:last-child,.medium-up-6>.columns:last-child{float:left}.medium-up-7>.column,.medium-up-7>.columns{width:14.28571%;float:left}.medium-up-7>.column:nth-of-type(1n),.medium-up-7>.columns:nth-of-type(1n){clear:none}.medium-up-7>.column:nth-of-type(7n+1),.medium-up-7>.columns:nth-of-type(7n+1){clear:both}.medium-up-7>.column:last-child,.medium-up-7>.columns:last-child{float:left}.medium-up-8>.column,.medium-up-8>.columns{width:12.5%;float:left}.medium-up-8>.column:nth-of-type(1n),.medium-up-8>.columns:nth-of-type(1n){clear:none}.medium-up-8>.column:nth-of-type(8n+1),.medium-up-8>.columns:nth-of-type(8n+1){clear:both}.medium-up-8>.column:last-child,.medium-up-8>.columns:last-child{float:left}}@media screen and (min-width:40em) and (min-width:40em){.medium-expand{-webkit-flex:1 1 0px;-ms-flex:1 1 0px;-webkit-box-flex:1;flex:1 1 0px}}.row.medium-unstack .column,.row.medium-unstack .columns{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%}@media screen and (min-width:40em){.row.medium-unstack .column,.row.medium-unstack .columns{-webkit-flex:1 1 0px;-ms-flex:1 1 0px;-webkit-box-flex:1;flex:1 1 0px}.medium-collapse>.column,.medium-collapse>.columns{padding-left:0;padding-right:0}.medium-uncollapse>.column,.medium-uncollapse>.columns{padding-left:.9375rem;padding-right:.9375rem}}@media screen and (min-width:64em){.large-1{-webkit-flex:0 0 8.33333%;-ms-flex:0 0 8.33333%;-webkit-box-flex:0;flex:0 0 8.33333%;max-width:8.33333%}.large-offset-0{margin-left:0}.large-2{-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;-webkit-box-flex:0;flex:0 0 16.66667%;max-width:16.66667%}.large-offset-1{margin-left:8.33333%}.large-3{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;-webkit-box-flex:0;flex:0 0 25%;max-width:25%}.large-offset-2{margin-left:16.66667%}.large-4{-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;-webkit-box-flex:0;flex:0 0 33.33333%;max-width:33.33333%}.large-offset-3{margin-left:25%}.large-5{-webkit-flex:0 0 41.66667%;-ms-flex:0 0 41.66667%;-webkit-box-flex:0;flex:0 0 41.66667%;max-width:41.66667%}.large-offset-4{margin-left:33.33333%}.large-6{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;-webkit-box-flex:0;flex:0 0 50%;max-width:50%}.large-offset-5{margin-left:41.66667%}.large-7{-webkit-flex:0 0 58.33333%;-ms-flex:0 0 58.33333%;-webkit-box-flex:0;flex:0 0 58.33333%;max-width:58.33333%}.large-offset-6{margin-left:50%}.large-8{-webkit-flex:0 0 66.66667%;-ms-flex:0 0 66.66667%;-webkit-box-flex:0;flex:0 0 66.66667%;max-width:66.66667%}.large-offset-7{margin-left:58.33333%}.large-9{-webkit-flex:0 0 75%;-ms-flex:0 0 75%;-webkit-box-flex:0;flex:0 0 75%;max-width:75%}.large-offset-8{margin-left:66.66667%}.large-10{-webkit-flex:0 0 83.33333%;-ms-flex:0 0 83.33333%;-webkit-box-flex:0;flex:0 0 83.33333%;max-width:83.33333%}.large-offset-9{margin-left:75%}.large-11{-webkit-flex:0 0 91.66667%;-ms-flex:0 0 91.66667%;-webkit-box-flex:0;flex:0 0 91.66667%;max-width:91.66667%}.large-offset-10{margin-left:83.33333%}.large-12{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%;max-width:100%}.large-offset-11{margin-left:91.66667%}.large-up-1{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.large-up-1>.column,.large-up-1>.columns{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%;max-width:100%;width:100%;float:left}.large-up-2{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.large-up-2>.column,.large-up-2>.columns{-webkit-flex:0 0 50%;-ms-flex:0 0 50%;-webkit-box-flex:0;flex:0 0 50%;max-width:50%;width:50%;float:left}.large-up-3{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.large-up-3>.column,.large-up-3>.columns{-webkit-flex:0 0 33.33333%;-ms-flex:0 0 33.33333%;-webkit-box-flex:0;flex:0 0 33.33333%;max-width:33.33333%;width:33.33333%;float:left}.large-up-4{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.large-up-4>.column,.large-up-4>.columns{-webkit-flex:0 0 25%;-ms-flex:0 0 25%;-webkit-box-flex:0;flex:0 0 25%;max-width:25%;width:25%;float:left}.large-up-5{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.large-up-5>.column,.large-up-5>.columns{-webkit-flex:0 0 20%;-ms-flex:0 0 20%;-webkit-box-flex:0;flex:0 0 20%;max-width:20%;width:20%;float:left}.large-up-6{-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap}.large-up-6>.column,.large-up-6>.columns{-webkit-flex:0 0 16.66667%;-ms-flex:0 0 16.66667%;-webkit-box-flex:0;flex:0 0 16.66667%;max-width:16.66667%;width:16.66667%;float:left}.large-up-1>.column:nth-of-type(1n),.large-up-1>.columns:nth-of-type(1n){clear:none}.large-up-1>.column:nth-of-type(1n+1),.large-up-1>.columns:nth-of-type(1n+1){clear:both}.large-up-1>.column:last-child,.large-up-1>.columns:last-child{float:left}.large-up-2>.column:nth-of-type(1n),.large-up-2>.columns:nth-of-type(1n){clear:none}.large-up-2>.column:nth-of-type(2n+1),.large-up-2>.columns:nth-of-type(2n+1){clear:both}.large-up-2>.column:last-child,.large-up-2>.columns:last-child{float:left}.large-up-3>.column:nth-of-type(1n),.large-up-3>.columns:nth-of-type(1n){clear:none}.large-up-3>.column:nth-of-type(3n+1),.large-up-3>.columns:nth-of-type(3n+1){clear:both}.large-up-3>.column:last-child,.large-up-3>.columns:last-child{float:left}.large-up-4>.column:nth-of-type(1n),.large-up-4>.columns:nth-of-type(1n){clear:none}.large-up-4>.column:nth-of-type(4n+1),.large-up-4>.columns:nth-of-type(4n+1){clear:both}.large-up-4>.column:last-child,.large-up-4>.columns:last-child{float:left}.large-up-5>.column:nth-of-type(1n),.large-up-5>.columns:nth-of-type(1n){clear:none}.large-up-5>.column:nth-of-type(5n+1),.large-up-5>.columns:nth-of-type(5n+1){clear:both}.large-up-5>.column:last-child,.large-up-5>.columns:last-child{float:left}.large-up-6>.column:nth-of-type(1n),.large-up-6>.columns:nth-of-type(1n){clear:none}.large-up-6>.column:nth-of-type(6n+1),.large-up-6>.columns:nth-of-type(6n+1){clear:both}.large-up-6>.column:last-child,.large-up-6>.columns:last-child{float:left}.large-up-7>.column,.large-up-7>.columns{width:14.28571%;float:left}.large-up-7>.column:nth-of-type(1n),.large-up-7>.columns:nth-of-type(1n){clear:none}.large-up-7>.column:nth-of-type(7n+1),.large-up-7>.columns:nth-of-type(7n+1){clear:both}.large-up-7>.column:last-child,.large-up-7>.columns:last-child{float:left}.large-up-8>.column,.large-up-8>.columns{width:12.5%;float:left}.large-up-8>.column:nth-of-type(1n),.large-up-8>.columns:nth-of-type(1n){clear:none}.large-up-8>.column:nth-of-type(8n+1),.large-up-8>.columns:nth-of-type(8n+1){clear:both}.large-up-8>.column:last-child,.large-up-8>.columns:last-child{float:left}}.shrink,.widget select,.wp-caption,embed,iframe,img,object,pre{max-width:100%}.aligncenter,.clear:after,.comment-content:after,.entry-content:after,.page-links,.site-content:after,.site-footer:after,.site-header:after{clear:both}@media screen and (min-width:64em) and (min-width:64em){.large-expand{-webkit-flex:1 1 0px;-ms-flex:1 1 0px;-webkit-box-flex:1;flex:1 1 0px}}.row.large-unstack .column,.row.large-unstack .columns{-webkit-flex:0 0 100%;-ms-flex:0 0 100%;-webkit-box-flex:0;flex:0 0 100%}@media screen and (min-width:64em){.row.large-unstack .column,.row.large-unstack .columns{-webkit-flex:1 1 0px;-ms-flex:1 1 0px;-webkit-box-flex:1;flex:1 1 0px}.large-collapse>.column,.large-collapse>.columns{padding-left:0;padding-right:0}.large-uncollapse>.column,.large-uncollapse>.columns{padding-left:.9375rem;padding-right:.9375rem}}ol,ul,ul li{margin:0;padding:0}.shrink{-webkit-flex:0 0 auto;-ms-flex:0 0 auto;-webkit-box-flex:0;flex:0 0 auto}.align-top.columns,.column.align-top{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}.align-bottom.columns,.column.align-bottom{-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end}.align-middle.columns,.column.align-middle{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}.align-stretch.columns,.column.align-stretch{-webkit-align-self:stretch;-ms-flex-item-align:stretch;align-self:stretch}.align-right{-webkit-justify-content:flex-end;-ms-flex-pack:end;-webkit-box-pack:end;justify-content:flex-end}.align-center{-webkit-justify-content:center;-ms-flex-pack:center;-webkit-box-pack:center;justify-content:center}.align-justify{-webkit-justify-content:space-between;-ms-flex-pack:justify;-webkit-box-pack:justify;justify-content:space-between}.align-spaced{-webkit-justify-content:space-around;-ms-flex-pack:distribute;justify-content:space-around}.align-top{-webkit-align-items:flex-start;-ms-flex-align:start;-ms-grid-row-align:flex-start;-webkit-box-align:start;align-items:flex-start}.align-self-top{-webkit-align-self:flex-start;-ms-flex-item-align:start;align-self:flex-start}.align-bottom{-webkit-align-items:flex-end;-ms-flex-align:end;-ms-grid-row-align:flex-end;-webkit-box-align:end;align-items:flex-end}.align-self-bottom{-webkit-align-self:flex-end;-ms-flex-item-align:end;align-self:flex-end}.align-middle{-webkit-align-items:center;-ms-flex-align:center;-ms-grid-row-align:center;-webkit-box-align:center;align-items:center}.align-self-middle{-webkit-align-self:center;-ms-flex-item-align:center;align-self:center}.align-stretch{-webkit-align-items:stretch;-ms-flex-align:stretch;-ms-grid-row-align:stretch;-webkit-box-align:stretch;align-items:stretch}.align-self-stretch{-webkit-align-self:stretch;-ms-flex-item-align:stretch;align-self:stretch}.small{-webkit-order:6;-ms-flex-order:6;-webkit-box-ordinal-group:7;order:6}body,button,input,select,textarea{color:#404040;font-family:Roboto,helvetica,sans-serif;font-size:16px;font-size:1rem;line-height:1.5}h1,h2,h3,h4,h5,h6{clear:both;font-family:"Open Sans",helvetica,sans-serif}h1{font-size:32px;font-size:2rem}h2{font-size:28px;font-size:1.75rem}h3{font-size:24px;font-size:1.5rem}h4{font-size:20px;font-size:1.25rem}h5,h6{font-size:16px;font-size:1rem}cite,dfn,em,i{font-style:italic}blockquote{margin:0 1.5em}address{margin:0 0 1.5em}pre{background:#eee;font-family:"Courier 10 Pitch",Courier,monospace;font-size:15px;font-size:.9375rem;line-height:1.6;margin-bottom:1.6em;padding:1.6em}code,kbd,tt,var{font-family:Monaco,Consolas,"Andale Mono","DejaVu Sans Mono",monospace;font-size:15px;font-size:.9375rem}ins,mark{background:#fff9c0}big{font-size:125%}*,:after,:before{box-sizing:inherit}blockquote,q{quotes:"" ""}ol,ul{-webkit-margin-before:0;-webkit-margin-after:0;-webkit-margin-start:0;-webkit-margin-end:0;-webkit-padding-start:0}ul{list-style-type:none}ol{list-style:decimal}li>ol,li>ul{margin-bottom:0;margin-left:1.5em}dt{font-weight:700}dd{margin:0 1.5em 1.5em}img{height:auto}table{border-collapse:collapse;border-spacing:0;margin:0 0 1.5em;width:100%}input[type=text],input[type=email],input[type=url],input[type=password],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],input[type=number],input[type=search],textarea{color:#666;border:1px solid #ccc}input[type=text]:focus,input[type=email]:focus,input[type=url]:focus,input[type=password]:focus,input[type=tel]:focus,input[type=range]:focus,input[type=date]:focus,input[type=month]:focus,input[type=week]:focus,input[type=time]:focus,input[type=datetime]:focus,input[type=datetime-local]:focus,input[type=color]:focus,input[type=number]:focus,input[type=search]:focus,textarea:focus{color:#111}select{border:1px solid #ccc}header .container-4 button.icon,header .container-4 input#search{border:none;background:#000;height:32px;color:#fff;font-size:1rem}input[type=text],input[type=email],input[type=url],input[type=password],input[type=tel],input[type=range],input[type=date],input[type=month],input[type=week],input[type=time],input[type=datetime],input[type=datetime-local],input[type=color],input[type=number],input[type=search]{padding:3px}textarea{padding-left:3px;width:100%}header .container-4{vertical-align:middle;white-space:nowrap;position:relative}header .container-4 input#search{padding-left:15px;box-sizing:border-box;font-family:'Open Sans';font-weight:300;font-style:italic;position:absolute;bottom:-100%;right:0;opacity:0;display:none;-webkit-transition:all .3s ease-in-out;transition:all .3s ease-in-out}header .container-4 input#search::-webkit-input-placeholder{color:#fff;font-family:'Open Sans';font-weight:300}header .container-4 input#search:-moz-placeholder{color:#fff;font-family:'Open Sans';font-weight:300}header .container-4 input#search::-moz-placeholder{color:#fff;font-family:'Open Sans';font-weight:300}header .container-4 input#search:-ms-input-placeholder{color:#fff;font-family:'Open Sans';font-weight:300}header .container-4 button.icon{width:32px;-webkit-transition:all .55s ease;transition:all .55s ease;line-height:1.9}header .container-4 .icon .fa{font-size:1rem}header #searchform{display:inline-block}header .container-4:hover input#search{opacity:1;display:block}a{color:#4169e1}a:visited{color:purple}a:active,a:focus,a:hover{color:#191970}a:focus{outline:dotted thin}@media all and (min-width:640px){.mp-level{display:inline-block}.main-navigation,.navigation{clear:both;display:block;width:100%}.main-navigation ul,.navigation ul{list-style:none;margin:0;padding-left:0}.main-navigation ul ul,.navigation ul ul{box-shadow:0 3px 3px rgba(0,0,0,.2);position:absolute;top:1.5em;left:-999em;z-index:99999}.main-navigation ul ul ul,.navigation ul ul ul{left:-999em;top:0}.main-navigation ul ul li.focus>ul,.main-navigation ul ul li:hover>ul,.navigation ul ul li.focus>ul,.navigation ul ul li:hover>ul{left:100%}.main-navigation ul ul a,.navigation ul ul a{width:200px}.main-navigation ul li.focus>ul,.main-navigation ul li:hover>ul,.navigation ul li.focus>ul,.navigation ul li:hover>ul{left:auto}.main-navigation li,.navigation li{display:inline-block;position:relative}.main-navigation li.focus>a,.main-navigation li:hover>a,.navigation li.focus>a,.navigation li:hover>a{border-bottom:1px solid rgba(0,0,0,.2)}.main-navigation a,.navigation a{display:block;text-decoration:none;border-bottom:1px solid transparent}.main-navigation .current-menu-ancestor>a,.main-navigation .current-menu-item>a,.main-navigation .current_page_ancestor>a,.main-navigation .current_page_item>a,.navigation .current-menu-ancestor>a,.navigation .current-menu-item>a,.navigation .current_page_ancestor>a,.navigation .current_page_item>a{border-bottom:1px solid #000}.main-navigation .mp-back{display:none}}@media all and (max-width:639px){.container,.menu-trigger,.mp-pusher,.scroller,.scroller-inner{position:relative}.mp-level,.mp-menu,.mp-pusher{left:0;height:100%}.container,.mp-level,.mp-menu,.mp-pusher,.scroller,body,html{height:100%}.main-navigation .mp-back,.mp-back,.mp-menu ul li{display:block}.scroller{overflow-y:scroll}.container{overflow:hidden}.menu-trigger{padding-left:48px;font-size:.9em;z-index:1000}.mp-pusher{-webkit-perspective:1000px;perspective:1000px}.mp-menu{position:absolute;text-align:left;top:0;z-index:1;width:300px;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.mp-level{position:absolute;top:0;width:100%;background:#336ca6;-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.mp-level:after,.mp-level:before,.mp-pusher:after{position:absolute;top:0;right:0;width:0;height:0;content:'';opacity:0}.mp-pusher:after{background:rgba(0,0,0,.3);-webkit-transition:opacity .3s,width .1s .3s,height .1s .3s;transition:opacity .3s,width .1s .3s,height .1s .3s}.mp-level:after{background:rgba(0,0,0,.3);-webkit-transition:opacity .3s,width .1s .3s,height .1s .3s;transition:opacity .3s,width .1s .3s,height .1s .3s;z-index:-1}.mp-pusher.mp-pushed:after{width:100%;height:100%;opacity:1;-webkit-transition:opacity .3s;transition:opacity .3s}.mp-level.mp-level-overlay{cursor:pointer}.mp-level.mp-level-overlay:after{width:100%;height:100%;opacity:1;-webkit-transition:opacity .3s;transition:opacity .3s}.mp-level.mp-level-overlay.mp-level:before{width:100%;height:100%;background:0 0;opacity:1}.mp-level,.mp-pusher{-webkit-transition:all .5s;transition:all .5s}.mp-overlap .mp-level.mp-level-open{box-shadow:1px 0 2px rgba(0,0,0,.2);-webkit-transform:translate3d(-40px,0,0);transform:translate3d(-40px,0,0)}.mp-menu.mp-overlap>.mp-level,.mp-menu.mp-overlap>.mp-level.mp-level-open,.mp-menu>.mp-level,.mp-menu>.mp-level.mp-level-open{box-shadow:none;-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.mp-cover .mp-level.mp-level-open{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.mp-cover .mp-level.mp-level-open>ul>li>.mp-level:not(.mp-level-open){-webkit-transform:translate3d(-100%,0,0);transform:translate3d(-100%,0,0)}.mp-menu ul{margin:0;padding:0;list-style:none}.mp-menu h2{margin:0;padding:1em;color:rgba(0,0,0,.4);text-shadow:0 0 1px rgba(0,0,0,.1);font-weight:300;font-size:2em}.mp-back,.mp-menu.mp-cover h2{text-transform:uppercase;letter-spacing:1px;font-weight:700}.mp-menu.mp-overlap h2:before{position:absolute;top:0;right:0;margin-right:8px;font-size:75%;line-height:1.8;opacity:0;-webkit-transition:opacity .3s,-webkit-transform .1s .3s;transition:opacity .3s,-webkit-transform .1s .3s;transition:opacity .3s,transform .1s .3s;transition:opacity .3s,transform .1s .3s,-webkit-transform .1s .3s;-webkit-transform:translateX(-100%);-ms-transform:translateX(-100%);transform:translateX(-100%)}.mp-menu.mp-cover h2{font-size:1em}.mp-overlap .mp-level.mp-level-overlay>h2:before{opacity:1;-webkit-transition:-webkit-transform .3s,opacity .3s;-webkit-transition:opacity .3s,-webkit-transform .3s;transition:opacity .3s,-webkit-transform .3s;transition:transform .3s,opacity .3s;transition:transform .3s,opacity .3s,-webkit-transform .3s;-webkit-transform:translateX(0);-ms-transform:translateX(0);transform:translateX(0)}.mp-menu ul li>a{display:block;padding:.7em 1em .7em 1.8em;outline:0;box-shadow:inset 0 -1px rgba(0,0,0,.2);text-shadow:0 0 1px rgba(255,255,255,.1);font-size:1.4em;-webkit-transition:background .3s,box-shadow .3s;transition:background .3s,box-shadow .3s;color:#fff}.mp-menu ul li:before{position:absolute;left:10px;z-index:-1;color:rgba(0,0,0,.2);line-height:3.5}.mp-level>ul>li:first-child>a{box-shadow:inset 0 -1px rgba(0,0,0,.2),inset 0 1px rgba(0,0,0,.2)}.mp-level>ul>li:first-child>a:hover,.mp-menu ul li a:hover{background:rgba(0,0,0,.2);box-shadow:inset 0 -1px transparent}.mp-level.mp-level-overlay>ul>li:first-child>a,.mp-menu .mp-level.mp-level-overlay>ul>li>a{box-shadow:inset 0 -1px transparent}.mp-level.mp-level-overlay>ul>li:first-child>a,.mp-level>ul>li:first-child>a:hover{box-shadow:inset 0 -1px transparent,inset 0 1px transparent}.mp-back{background:rgba(0,0,0,.1);outline:0;color:#fff;font-size:.8em;padding:1em;position:relative;box-shadow:inset 0 1px rgba(0,0,0,.1);-webkit-transition:background .3s;transition:background .3s}.mp-menu ul li.menu-item-has-children:before{content:"\f104";font-family:FontAwesome;line-height:2;font-size:2rem}.mp-menu .mp-level.mp-level-overlay>.mp-back,.mp-menu .mp-level.mp-level-overlay>.mp-back:after{background:0 0;box-shadow:none;color:transparent}.no-csstransforms3d .mp-pusher,.no-js .mp-pusher{padding-left:300px}.no-csstransforms3d .mp-menu .mp-level,.no-js .mp-menu .mp-level{display:none}.no-csstransforms3d .mp-menu>.mp-level,.no-js .mp-menu>.mp-level{display:block}.mp-menu a{color:#fff}.mp-back i:after{content:"back";font-family:Roboto;margin-left:.5em;line-height:1;margin-top:-5px;display:inline-block}.mp-back .fa-2x,.mp-back i:after{font-size:1rem}}.nav-icon2{display:inline-block;width:48px;height:36px;position:relative;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transition:.5s ease-in-out;transition:.5s ease-in-out;cursor:pointer}.nav-icon2 span{display:block;position:absolute;height:7px;width:50%;background:#000;opacity:1;-webkit-transform:rotate(0);-ms-transform:rotate(0);transform:rotate(0);-webkit-transition:.25s ease-in-out;transition:.25s ease-in-out}.nav-icon2 span:nth-child(even){left:50%;border-top-right-radius:3px;border-bottom-right-radius:3px}.nav-icon2.open span:nth-child(even){left:-webkit-calc(50% + 1px);left:calc(50% + 1px)}.nav-icon2 span:nth-child(odd){left:0;border-top-left-radius:3px;border-bottom-left-radius:3px}.nav-icon2 span:nth-child(1),.nav-icon2 span:nth-child(2){top:0}.nav-icon2 span:nth-child(3),.nav-icon2 span:nth-child(4){top:12px}.nav-icon2 span:nth-child(5),.nav-icon2 span:nth-child(6){top:24px}.nav-icon2.open span:nth-child(1),.nav-icon2.open span:nth-child(6){-webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg)}.nav-icon2.open span:nth-child(2),.nav-icon2.open span:nth-child(5){-webkit-transform:rotate(-45deg);-ms-transform:rotate(-45deg);transform:rotate(-45deg)}.nav-icon2.open span:nth-child(1){left:11px;top:7px}.nav-icon2.open span:nth-child(2){left:-webkit-calc(50% + 1px);left:calc(50% + 1px);top:7px}.nav-icon2.open span:nth-child(3){left:-50%;opacity:0}.nav-icon2.open span:nth-child(4){left:100%;opacity:0}.nav-icon2.open span:nth-child(5){left:11px;top:21px}.nav-icon2.open span:nth-child(6){left:-webkit-calc(50% + 1px);left:calc(50% + 1px);top:21px}.navigation a{color:#000}.screen-reader-text{clip:rect(1px,1px,1px,1px);position:absolute!important;height:1px;width:1px;overflow:hidden}.screen-reader-text:focus{background-color:#f1f1f1;border-radius:3px;box-shadow:0 0 2px 2px rgba(0,0,0,.6);clip:auto!important;color:#21759b;display:block;font-size:14px;font-size:.875rem;font-weight:700;height:auto;left:5px;line-height:normal;padding:15px 23px 14px;text-decoration:none;top:5px;width:auto;z-index:100000}.alignleft{display:inline;float:left;margin-right:1.5em}.alignright{display:inline;float:right;margin-left:1.5em}.aligncenter,.float-center{display:block;margin-left:auto;margin-right:auto}.no-bullet{margin-left:0;list-style:none}.hentry,.widget{margin:0 0 1.5em}.text-left{text-align:left}.text-right{text-align:right}.text-center{text-align:center}.text-justify{text-align:justify}.gallery-item,.type-finish,.wp-caption-text{text-align:center}.clear:after,.clear:before,.comment-content:after,.comment-content:before,.entry-content:after,.entry-content:before,.site-content:after,.site-content:before,.site-footer:after,.site-footer:before,.site-header:after,.site-header:before{content:"";display:table;table-layout:fixed}.hide{display:none!important}.invisible{visibility:hidden}@media screen and (max-width:0em),screen and (min-width:40em){.show-for-small-only{display:none!important}}@media screen and (min-width:40em){.medium{-webkit-order:6;-ms-flex-order:6;-webkit-box-ordinal-group:7;order:6}.hide-for-medium{display:none!important}}@media screen and (max-width:39.9375em){.hide-for-small-only,.show-for-medium{display:none!important}}@media screen and (min-width:40em) and (max-width:63.9375em){.hide-for-medium-only{display:none!important}}@media screen and (max-width:39.9375em),screen and (min-width:64em){.show-for-medium-only{display:none!important}}@media screen and (min-width:64em){.large{-webkit-order:6;-ms-flex-order:6;-webkit-box-ordinal-group:7;order:6}.hide-for-large{display:none!important}}@media screen and (max-width:63.9375em){.show-for-large{display:none!important}}@media screen and (min-width:64em) and (max-width:74.9375em){.hide-for-large-only{display:none!important}}@media screen and (max-width:63.9375em),screen and (min-width:75em){.show-for-large-only{display:none!important}}.show-for-sr,.show-on-focus{position:absolute!important;width:1px;height:1px;overflow:hidden;clip:rect(0,0,0,0)}.show-on-focus:active,.show-on-focus:focus{position:static!important;height:auto;width:auto;overflow:visible;clip:auto}.hide-for-portrait,.show-for-landscape{display:block!important}@media screen and (orientation:landscape){.hide-for-portrait,.show-for-landscape{display:block!important}.hide-for-landscape,.show-for-portrait{display:none!important}}.hide-for-landscape,.show-for-portrait{display:none!important}@media screen and (orientation:portrait){.hide-for-portrait,.show-for-landscape{display:none!important}.hide-for-landscape,.show-for-portrait{display:block!important}}.sticky{display:block}.byline,.updated:not(.published){display:none}.group-blog .byline,.single .byline{display:inline}.entry-content,.entry-summary,.page-content{margin:1.5em 0 0}.page-links{margin:0 0 1.5em}.archive .format-aside .entry-title,.blog .format-aside .entry-title{display:none}.comment-content a{word-wrap:break-word}.bypostauthor{display:block}.utility-footer{background:#414141;color:#cecece;font-size:1rem;font-weight:300;padding:10px 0}.utility-footer .fa{height:100%;position:relative;z-index:1}.utility-footer .fa:after{background:#fff;width:90%;height:85%;position:absolute;top:2%;left:5%;z-index:-1;border-radius:50%}.utility-footer .menu li{display:inline}.utility-footer .menu li a{color:#cecece}.no-margin,.row .no-margin{margin:0}.no-margin-sides,.row .no-margin-sides{margin-left:0;margin-right:0}.no-margin-left,.row .no-margin-left{margin-left:0}.no-margin-right,.row .no-margin-right{margin-right:0}.no-margin-top,.row .no-margin-top{margin-top:0}.no-margin-bottom,.row .no-margin-bottom{margin-bottom:0}.no-padding{padding:0}.no-padding-sides,.row .no-padding-sides{padding-left:0;padding-right:0}.no-padding-left{padding-left:0}.no-padding-right{padding-right:0}.no-padding-top{padding-top:0}.no-padding-bottom{padding-bottom:0}.infinite-scroll .posts-navigation,.infinite-scroll.neverending .site-footer{display:none}.infinity-end.neverending .site-footer{display:block}.comment-content .wp-smiley,.entry-content .wp-smiley,.page-content .wp-smiley{border:none;margin-bottom:0;margin-top:0;padding:0}.wp-caption{margin-bottom:1.5em}.wp-caption img[class*=wp-image-]{display:block;margin-left:auto;margin-right:auto}.wp-caption .wp-caption-text{margin:.8075em 0}.gallery{margin-bottom:1.5em}.gallery-item{display:inline-block;vertical-align:top;width:100%}.gallery-columns-2 .gallery-item{max-width:50%}.gallery-columns-3 .gallery-item{max-width:33.33%}.gallery-columns-4 .gallery-item{max-width:25%}.gallery-columns-5 .gallery-item{max-width:20%}.gallery-columns-6 .gallery-item{max-width:16.66%}.gallery-columns-7 .gallery-item{max-width:14.28%}.gallery-columns-8 .gallery-item{max-width:12.5%}.gallery-columns-9 .gallery-item{max-width:11.11%}.gallery-caption{display:block}.social-media-icons,.social-media-icons li,header .searchform,header .social-media-icons,header .social-media-icons li{display:inline-block}.fa-facebook-official{color:#3b5998}.fa-google-plus-square{color:#dc4e41}.fa-instagram{color:#3f729b}.fa-pinterest{color:#bd081c}.fa-twitter-square{color:#55acee}header .searchform{margin-left:1rem}header .social-search{margin:5px 0}.type-finish .entry-title{margin-bottom:0}.type-finish .finish-code{text-transform:uppercase;margin-top:.5em;margin-bottom:.5em}.type-finish .finish-thumb img{border-radius:50%}.type-finish .entry-content{margin-top:0}@media all and (min-width:640px) and (max-width:899px){.site-branding{max-width:19%;text-align:center}.site-header .medium-8{max-width:81%;-webkit-box-flex:0;-webkit-flex:0 0 81%;-ms-flex:0 0 81%;flex:0 0 81%}.main-navigation a{font-size:.8rem!important}}@media all and (min-width:640px){.header-wrap{box-shadow:10px 0 4px #ccc;margin-bottom:1rem}}
/*# sourceMappingURL=style.css.map */
