.utility-footer {
	background:#414141;
	color:#cecece;
	font-size:1rem;
	font-weight:300;
	padding:10px 0;
	.fa {
		height:100%;
		position:relative;
		z-index:1;
		
		&:after {
			content:"";
			background:#fff;
			width:90%;
			height:85%;
			position:absolute;
			top:2%;
			left:5%;
			z-index:-1;
			border-radius:50%;
		}
	}

	.menu {
		li {
			display:inline;
			a {
				color:#cecece;
			}
		}

	} 
}