h1, h2, h3, h4, h5, h6 {
	clear: both;
	font-family: $font__heading;
}

h1 {
	@include font-size(2);
}

h2 {
	@include font-size(1.75);
}

h3 {
	@include font-size(1.5);
}

h4 {
	@include font-size(1.25);
}

h5, h6 {
	@include font-size(1);
}