@media all and (min-width:640px) {
    .mp-level {
        display: inline-block;
    }
    .main-navigation,
    .navigation {
        clear: both;
        display: block;
        width: 100%;
        ul {
            list-style: none;
            margin: 0;
            padding-left: 0;
            ul {
                box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
                position: absolute;
                top: 1.5em;
                left: -999em;
                z-index: 99999;
                ul {
                    left: -999em;
                    top: 0;
                }
                li {
                    &:hover > ul,
                    &.focus > ul {
                        left: 100%;
                    }
                }
                a {
                    width: 200px;
                }
                :hover > a,
                .focus > a {}
                a:hover,
                a.focus {}
            }
            li:hover > ul,
            li.focus > ul {
                left: auto;
            }
        }
        li {
            display: inline-block;
            position: relative;
            &:hover > a,
            &.focus > a {
              border-bottom:1px solid rgba(0,0,0,0.2);}
        }
        a {
            display: block;
            text-decoration: none;
            border-bottom:1px solid rgba(0,0,0,0);
        }
        .current_page_item > a,
        .current-menu-item > a,
        .current_page_ancestor > a,
        .current-menu-ancestor > a {
          border-bottom:1px solid rgba(0,0,0,1);
        }
    }
    .main-navigation .mp-back {
        display: none;
    }
}

@media all and (max-width:639px) {
    html,
    body,
    .container {
        height: 100%;
    }
    .main-navigation .mp-back {
        display: block;
    }
    .scroller {
        height: 100%;
        overflow-y: scroll;
        position: relative;
    }
    .scroller-inner {
        position: relative;
    }
    .container {
        position: relative;
        overflow: hidden;
    }
    .menu-trigger {
        position: relative;
        padding-left: 48px;
        font-size: 0.9em;
        z-index: 1000;
    }
    .mp-pusher {
        position: relative;
        left: 0;
        height: 100%;
        perspective: 1000px;
    }
    .mp-menu {
        position: absolute;
        /* we can't use fixed here :( */
        text-align: left;
        top: 0;
        left: 0;
        z-index: 1;
        width: 300px;
        height: 100%;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    .mp-level {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #336ca6;
        -webkit-transform: translate3d(-100%, 0, 0);
        -moz-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    /* overlays for pusher and for level that gets covered */
    .mp-pusher:after {
        position: absolute;
        top: 0;
        right: 0;
        width: 0;
        height: 0;
        content: '';
        opacity: 0;
    }
    .mp-level {
        &:after,
        &:before {
            position: absolute;
            top: 0;
            right: 0;
            width: 0;
            height: 0;
            content: '';
            opacity: 0;
        }
    }
    .mp-pusher:after {
        background: rgba(0, 0, 0, 0.3);
        -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
    }
    .mp-level:after {
        background: rgba(0, 0, 0, 0.3);
        -webkit-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        -moz-transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        transition: opacity 0.3s, width 0.1s 0.3s, height 0.1s 0.3s;
        z-index: -1;
    }
    .mp-pusher.mp-pushed:after {
        width: 100%;
        height: 100%;
        opacity: 1;
        -webkit-transition: opacity 0.3s;
        -moz-transition: opacity 0.3s;
        transition: opacity 0.3s;
    }
    .mp-level.mp-level-overlay {
        &:after {
            width: 100%;
            height: 100%;
            opacity: 1;
            -webkit-transition: opacity 0.3s;
            -moz-transition: opacity 0.3s;
            transition: opacity 0.3s;
        }
        cursor: pointer;
        &.mp-level:before {
            width: 100%;
            height: 100%;
            background: transparent;
            opacity: 1;
        }
    }
    .mp-pusher,
    .mp-level {
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        transition: all 0.5s;
    }
    /* overlap */
    .mp-overlap .mp-level.mp-level-open {
        box-shadow: 1px 0 2px rgba(0, 0, 0, 0.2);
        -webkit-transform: translate3d(-40px, 0, 0);
        -moz-transform: translate3d(-40px, 0, 0);
        transform: translate3d(-40px, 0, 0);
    }
    /* First level */
    .mp-menu {
        > .mp-level,
        &.mp-overlap > .mp-level {
            box-shadow: none;
            -webkit-transform: translate3d(0, 0, 0);
            -moz-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
            &.mp-level-open {
                box-shadow: none;
                -webkit-transform: translate3d(0, 0, 0);
                -moz-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }
    /* cover */
    .mp-cover .mp-level.mp-level-open {
        -webkit-transform: translate3d(0, 0, 0);
        -moz-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        > ul > li > .mp-level:not(.mp-level-open) {
            -webkit-transform: translate3d(-100%, 0, 0);
            -moz-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
        }
    }
    /* content style */
    .mp-menu {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        h2 {
            margin: 0;
            padding: 1em;
            color: rgba(0, 0, 0, 0.4);
            text-shadow: 0 0 1px rgba(0, 0, 0, 0.1);
            font-weight: 300;
            font-size: 2em;
        }
        &.mp-overlap h2:before {
            position: absolute;
            top: 0;
            right: 0;
            margin-right: 8px;
            font-size: 75%;
            line-height: 1.8;
            opacity: 0;
            -webkit-transition: opacity 0.3s, -webkit-transform 0.1s 0.3s;
            -moz-transition: opacity 0.3s, -moz-transform 0.1s 0.3s;
            transition: opacity 0.3s, transform 0.1s 0.3s;
            -webkit-transform: translateX(-100%);
            -moz-transform: translateX(-100%);
            transform: translateX(-100%);
        }
        &.mp-cover h2 {
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 1px;
            font-size: 1em;
        }
    }
    .mp-overlap .mp-level.mp-level-overlay > h2:before {
        opacity: 1;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
        -moz-transition: -moz-transform 0.3s, opacity 0.3s;
        transition: transform 0.3s, opacity 0.3s;
        -webkit-transform: translateX(0);
        -moz-transform: translateX(0);
        transform: translateX(0);
    }
    .mp-menu ul li {
        display: block;
        > a {
            display: block;
            padding: 0.7em 1em 0.7em 1.8em;
            outline: none;
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2);
            text-shadow: 0 0 1px rgba(255, 255, 255, 0.1);
            font-size: 1.4em;
            -webkit-transition: background 0.3s, box-shadow 0.3s;
            -moz-transition: background 0.3s, box-shadow 0.3s;
            transition: background 0.3s, box-shadow 0.3s;
            color: #fff;
        }
        &:before {
            position: absolute;
            left: 10px;
            z-index: -1;
            color: rgba(0, 0, 0, 0.2);
            line-height: 3.5;
        }
    }
    .mp-level > ul > li:first-child > a {
        box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 1px rgba(0, 0, 0, 0.2);
    }
    .mp-menu ul li a:hover,
    .mp-level > ul > li:first-child > a:hover {
        background: rgba(0, 0, 0, 0.2);
        box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    }
    .mp-menu .mp-level.mp-level-overlay > ul > li > a {
        box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
    }
    .mp-level {
        &.mp-level-overlay {
            > ul > li:first-child > a {
                box-shadow: inset 0 -1px rgba(0, 0, 0, 0);
            }
            > ul > li:first-child > a {
                box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
            }
        }
        > ul > li:first-child > a:hover {
            box-shadow: inset 0 -1px rgba(0, 0, 0, 0), inset 0 1px rgba(0, 0, 0, 0);
        }
    }
    /* seems like Chrome 34.0.1847.131 needs the second shadow otherwise the transition breaks */
    .mp-back {
        background: rgba(0, 0, 0, 0.1);
        outline: none;
        color: #fff;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 700;
        display: block;
        font-size: 0.8em;
        padding: 1em;
        position: relative;
        box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
        -webkit-transition: background 0.3s;
        -moz-transition: background 0.3s;
        transition: background 0.3s;
    }
    .mp-menu ul li.menu-item-has-children:before {
        content: "\f104";
        font-family: FontAwesome;
        line-height: 2;
        font-size: 2rem;
        /* more styling for the icon, including color, font-size, positioning, etc. */
    }
    .mp-menu .mp-level.mp-level-overlay > .mp-back {
        background: transparent;
        box-shadow: none;
        color: transparent;
        &:after {
            background: transparent;
            box-shadow: none;
            color: transparent;
        }
    }
    /* Fallback example for browsers that don't support 3D transforms (and no JS fallback) */
    /* We'll show the first level only */
    .no-csstransforms3d .mp-pusher,
    .no-js .mp-pusher {
        padding-left: 300px;
    }
    .no-csstransforms3d .mp-menu .mp-level,
    .no-js .mp-menu .mp-level {
        display: none;
    }
    .no-csstransforms3d .mp-menu > .mp-level,
    .no-js .mp-menu > .mp-level {
        display: block;
    }
    .mp-menu a {
        color: #fff;
    }
    .mp-back i:after {
        content: "back";
        font-family: Roboto;
        margin-left: 0.5em;
        font-size: 1rem;
        line-height: 1;
        margin-top: -5px;
        display: inline-block;
    }
    .mp-back i:after,
    .mp-back .fa-2x {
        font-size: 1rem;
    }
}

.nav-icon2 {
    display: inline-block;
    width: 48px;
    height: 36px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}


/* Icon 2 */

.nav-icon2 {}

.nav-icon2 span {
    display: block;
    position: absolute;
    height: 7px;
    width: 50%;
    background: #000;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.nav-icon2 span:nth-child(even) {
    left: 50%;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.nav-icon2.open span:nth-child(even) {
    left: calc( 50% + 1px);
}

.nav-icon2 span:nth-child(odd) {
    left: 0px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.nav-icon2 span:nth-child(1),
.nav-icon2 span:nth-child(2) {
    top: 0px;
}

.nav-icon2 span:nth-child(3),
.nav-icon2 span:nth-child(4) {
    top: 12px;
}

.nav-icon2 span:nth-child(5),
.nav-icon2 span:nth-child(6) {
    top: 24px;
}

.nav-icon2.open span:nth-child(1),
.nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.nav-icon2.open span:nth-child(2),
.nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.nav-icon2.open span:nth-child(1) {
    left: 11px;
    top: 7px;
}

.nav-icon2.open span:nth-child(2) {
    left: calc( 50% + 1px);
    top: 7px;
}

.nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
}

.nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
}

.nav-icon2.open span:nth-child(5) {
    left: 11px;
    top: 21px;
}

.nav-icon2.open span:nth-child(6) {
    left: calc( 50% + 1px);
    top: 21px;
}

// ALL SCREEN WIDTHS

.navigation {
  a{
    color:#000;
  }
}
